<%= form_for [@event, comment], data: { turbo: false } do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: comment} %>

  <div class="form-group mb-3">
    <%= f.label :body, class: "mb-3 fw-bold" %>
    <%= f.text_area :body, class: 'form-control' %>
  </div>

  <%= recaptcha_tags unless current_user.present? %>

  <% unless user_signed_in? %>
    <div class="form-group">
      <%= f.label :user_name %>
      <%= f.text_field :user_name, class: 'form-control mb-3' %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit 'Отправить', class: 'btn btn-primary mb-3' %>
  </div>
<% end %>
