<%= form_for @user, html: {multipart: true} do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: @user} %>

  <div class="form-group mb-3">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group mb-3">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= f.label :avatar, class: "form-label" %>
    <%= f.file_field :avatar, class: "form-control" %>
  </div>

  <div class="actions mb-3">
    <%= f.submit t(".save"), class: 'btn btn-primary' %>
    или <%= link_to t(".back"), :back %>
  </div>
<% end %>
