<h1>Доступ только по пин-коду</h1>

<%= form_tag('', method: 'post', data: { turbo: false }) do %>
  <div class="form-group mb-3">
    <%= label 'Пин-код', :pincode, class: "form-label" %>
    <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
  </div>

  <div class="actions mb-3">
    <%= submit_tag 'Сохранить', class: 'btn btn-primary mb-3' %>
    или <%= link_to 'вернуться', :back %>
  </div>
<% end %>

