<div class="text-center row justify-content-center">
  <h1>Доступ только по пин-коду</h1>

  <%= form_tag('', method: 'post', data: { turbo: false }, class: 'col-6') do |f| %>
    <div class="form-group mb-3">
      <%= label :pincode, t('.pincode'), class: "form-label" %>
      <%= text_field_tag :pincode, params[:pincode], class: 'form-control' %>
    </div>

    <div class="actions mb-3">
      <%= button_to do %>
        <i class='bi bi-check-lg'></i> Ввести
      <% end %>
      или <%= link_to 'вернуться', :back %>
    </div>
  <% end %>
</div>

