<div class="event-info thumbnail row">
  <div class='event-background', style='background-image: url(<%= event_avatar_big(@event) %>)'></div>

  <div class="col-md-12">
    <div class="event-info-inner row">
      <div class="col-md-6 mb-3">
        <div class="event-description">
          <h1><%= @event.title %></h1>
          <h3><%= l @event.datetime, format: :long %></h3>
          <h3><small><%= link_to @event.address,
                                   "https://yandex.ru/maps/?text=#{@event.address}" %></small></h3>
          <p><%= @event.description %></p>
        </div>

        <% if current_user_can_edit?(@event) %>
          <div>
            <div class="buffer-both">
              <%= link_to 'Изменить', edit_event_path(@event), class: 'btn btn-primary' %>
            </div>

            <div class="mb-2">
              <%= button_to "Удалить мероприятие", event_path(@event),
                                method: :delete,
                                form: { data: { turbo_confirm: "Вы точно хотите удалить мероприятие?" } },
                                class: 'btn btn-danger' %>
            </div>
          </div>
        <% end %>
      </div>

      <div class="col-md-6 mb-3 text-center">
        <div id="map" data-address="<%= @event.address %>" style="width: 100%; height: 500px" class="p-3"></div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h2>Фотогалерея</h2>

    <div class="event-photos-gallery">
      <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
    </div>

    <div class="event-photo-form">
      <%= render partial: 'photos/form', locals: {photo: @new_photo || @event.photos.build} %>
    </div>

    <h2 class="mt-3">Комментарии</h2>
    <%= render partial: 'comments/form', locals: {comment: @new_comment || @event.comments.build} %>
    <div class="buffer-both">
      <%= render partial: 'comments/comment',
                 collection: @event.comments.except(@new_comment) %>
    </div>
  </div>

  <div class="col-md-4">
    <div class="event-owner">
      <h4>Зовет:</h4>
      <p><%= render partial: 'users/user', object: @event.user %></p>
    </div>

    <div class="event-subscriptions">
      <h4>Пойдут:</h4>
      <div>
        <p>
          <%= render partial: 'subscriptions/subscription',
                     collection: @event.subscriptions.except(@new_subscription) %>
        </p>
      </div>
    </div>

    <% unless @event.user == current_user || @event.subscribers.include?(current_user) %>
      <div class="event-subscription-form">
        <h4>Я пойду:</h4>
        <div>
          <%= render partial: 'subscriptions/form', locals: {
            subscription: @new_subscription || @event.subscriptions.build } %>
        </div>
      </div>
      <% end %>
  </div>
</div>


