<a href="<%= url_for(photo.image.variant(:big)) %>" data-gallery="example-gallery" class="photo-icon"
   data-caption='<%= t(".add") %> <%= render partial: "users/user", object: photo.user %>
     <% if current_user_can_edit?(photo) %>
       <%= link_to '<i class="bi bi-trash3"></i>'.html_safe, event_photo_path(photo.event, photo),
                   data: { turbo_method: :delete, turbo_confirm: t("turbo.delete") } %>
     <% end %>'>
  <img src="<%= url_for(photo.image.variant(:thumb)) %>">
</a>
