<h1><%= t '.title' %></h1>
<p><%= @comment.body %></p>
<p><%= t '.author' %>: <strong><%= @comment.user_name %></strong></p>

<hr/>

<%= t '.event' %>
<h3><%= link_to @comment.event.title, t("event-url", :id => @comment.event.id) %></h3>

<%= t '.datetime' %>
<h4><%= l @comment.event.datetime %></h4>

<%= t '.owner' %>
<h4><%= @comment.event.user.name %></h4>
