<h1><%= t '.title' %></h1>
<div><%= link_to image_tag(url_for(@photo.image.variant(:thumb))), url_for(@photo.image.variant(:thumb)) %></div>
<p><%= t '.author' %>: <strong><%= @photo.user.name %></strong></p>

<hr/>

<%= t '.event' %>
<h3><%= link_to @photo.event.title, t("event-url", :id => @photo.event.id) %></h3>
<%= t '.datetime' %>
<h4><%= l @photo.event.datetime %></h4>

<%= t '.owner' %>
<h4><%= @photo.event.user.name %></h4>
